{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <a href="{{ url_for ('ram_router.capitulos')}}">Capitulos</a>
    <h1 class="text-center"> Capitulo numero: {{ capitulo.id}}</h1>
    <div class="row row-cols-1 g-4">
        <div class="col d-flex justify-content-center">
            <div class="card " style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body bg-light">
                            <h5 class="card-subtitle mb-0"><small class="text-muted">Capitulo:</small></h5>
                            <h3 class="card-title mb-0">{{ capitulo.name }}</h3>
                            <p class="card-subtitle mb-0"><small class="text-muted">Fecha de estreno:</small></p>
                            <p class="card-subtitle mb-3">{{ capitulo.air_date }}</p>
                            <p class="card-subtitle mb-0"><small class="text-muted">Episodio:</small></p>
                            <p class="card-subtitle mb-0">{{ capitulo.episode }}</p>
                        </div>
                    </div>
                    <div class="col-md-4 my-auto d-block">
                        <img src="https://www.formulatv.com/images/series/posters/1500/1524/dest_2.jpg" width="180" height="200" class="rounded-start" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for personaje_cap in personajes_cap %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{personaje_cap['image'] }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{personaje_cap["name"] }}</h5>
                    </div>
                </div>
            </div>

            {% endfor %}
            <!-- {% for character in capitulo.characters %}
        {% set flag = character.split("/") %}
            <div class="col">
              <div class="card h-100">
                <img src="https://rickandmortyapi.com/api/character/avatar/{{flag[-1]}}.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
            </div>
        {% endfor %} -->

        </div>


    </div>

</div>
</div>
{% endblock content %}