{% extends "base.html" %}

{% block content %}


<h1> Personajes Rick and Morty</h1>
<div class="row" style="margin-top: 30px">
    {% for personaje in personajes %}
    <div class="col-md-3">
        <a href="{{ url_for('ram_router.detalles', id=personaje.id)}}">
            <div class="thumbnail">
                <img src="{{ personaje.image}}" alt="...">
                <div class="caption">
                    <h3>{{ personaje.name}}</h3>
                    <p>{{personaje.status}} - {{personaje.species}}</p>
                    <p>Last known location:</p>
                    <p><strong>{{personaje.location.name}}</strong></p>
                    <p>First seem in:</p>
                    <p><strong>{{personaje.origin.name}}</strong></p>

                </div>
            </div>
        </a>

    </div>

    {% endfor %}
</div>
{% endblock content %}